<!DOCTYPE html>
<html lang="se">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>.blogg</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <h1><a href="http://localhost/wprog2/9/">.blogg</a></h1>
    </header>
    <main>
      <section>
        <!--$content-->
        <!--$content-->
      </section>
    </main>
  </body>
</html>
